<!DOCTYPE html>
<html lang="en">

    <% include ./partials/header %>
 
</head>

<body id="page-top">

    <% include ./partials/nav %>

  <div id="wrapper">


    <% include ./partials/sidenav %>


    <div id="content-wrapper"> 

      <div class="container-fluid">



        <!-- Page Content -->
        <!-- Icon Cards-->
        <div class="row">
        <% for (const project of projects) {%>
          <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-info o-hidden h-100">
            <div class="card-header"> <h5><%=project.name%></h5></div>
            <div class="card-body-icon">
                  <i class="far fa-file-code" style="font-size: 2em;"></i>
                  
                </div>
              <div class="card-body">
                 
                <i class="fas fa-info-circle"></i> <span style="font-weight: 700;"> Type: </span><%= project.type%><br />
                <i class="fab fa-github-square"></i> <span style="font-weight: 700;">github:</span> <%= project.github%><br />
                <i class="fas fa-link"></i> <span style="font-weight: 700;">Link:</span> <%= project.link%><br />
                <i class="fas fa-code"></i> <span style="font-weight: 700;">Description:</span> <%= project.description%></span>
             
                
              </div>
              <div class="card-footer bg-white">
                <div class="biobuttons">
                        <a href="/user?_id=<%=project.user%>" class="btn btn-sm btn-info" role="button">View Profile</a>
                        <a href="/projects?_id=<%=project.user%>" class="btn btn-success btn-sm">View Portfolio</a>
                         <% if (isAuthenticated) { %> 
                        <a href="/message?_id=<%=project.user%>" class="btn btn-warning btn-sm">Send Message</a>
                        
                      <%}%>
                    
                  </div>
                  
                  </div>
              </div>
          </div>
        <% } %>
         
      </div>
      <!-- /.container-fluid -->

       
   
    <% include ./partials/footer %>
    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



    <% include ./partials/scripts %>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

</body>

</html>
