 <!DOCTYPE html>
<html lang="en">

    <% include ./partials/header %>
     <link rel="stylesheet" href="../public/css/profile.css">
<script>
        function validateForm() {
            const firstname = document.forms["updateForm"]["firstname"].value;
            const lastname = document.forms["updateForm"]["lastname"].value;

            if (firstname.trim() == "" || lastname.trim() == "") {
                alert("You must have a first and last name");
                return false;
            }
            return true;
        }
        // $(document).ready(function () {
        //   CustomFileInput.init()
        // })

        function preview_image(event) 
          {
          var reader = new FileReader();
          reader.onload = function()
          {
            var output = document.getElementById('output_image');
            output.src = reader.result;
          }
          reader.readAsDataURL(event.target.files[0]);
          }
    </script>
<style>
    #output_image
      {
      max-width:300px;
      max-height: 300px;
      }
</style>
</head>

<body id="page-top">

    <% include ./partials/nav %>

  <div id="wrapper">

    <% include ./partials/sidenav %>


    <div id="content-wrapper"> 

      <div class="container-fluid">



        <!-- Page Content -->
       <div class="row">
        <div class="col-md-5 text-center fill">



                      <div class="biobuttons">
                        <form action="imageUpload" method="POST" enctype="multipart/form-data">
                          <div class="custom-file">
                              <input type="file" class="custom-file-input" name="imageButton" id="file" onchange="preview_image(event)">
                              <label class="custom-file-label" for="file">Choose file</label>
                               <button class="btn btn-outline-secondary" type="submit" id="imageButton">Upload</button>
                            </div>

                         <div class="container" style="margin-top: 20px;">
                         <img id="output_image" class="rounded-circle img-thumbnail"/>
                         </div>
               </div>
              



                        </form>


                </div>

   

    <!--Column-->
       <div class="col-md-6">
  <div class="card card-register mx-auto mt-5">
      <div class="card-header">Update Profile</div>
      <div class="card-body">

          <form action="/updateProfile" method="POST"  id="updateForm" onsubmit="return validateForm()">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="firstname" name="firstname" class="form-control" value="<%=user.firstname%>" required="required">
                  <label for="firstname">First name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="lastName" name="lastname" class="form-control" value="<%=user.lastname%>" required="required">
                  <label for="lastName">Last name</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="email" name="email" class="form-control" value="<%=user.email%>" required="required">
              <label for="email">Email address</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <textarea id="bio" name="bio" class="form-control" rows="4" placeholder="Bio"><%=user.bio%></textarea>
              
            </div>
          </div>
             <div class="row">
                        <div style="display: inline-block; float-left; margin-left: 15px;">
                        <div class="form-group">
                            <div class="col-sm-12 biobuttons">
                            <input type="hidden" name="_id" value="<%= user._id%>">
                                <button class="btn btn-info" type="submit">Update Profile</button>
                            </div>
                        </div>
                    </form>
                    </div>
                        <div style="display: inline-block; float-right;">
                    <form action="/delete" method="POST">
                        <div class="form-group">
                            <div class="col-sm-12">
                            <input type="hidden" name="_id" value="<%= user._id%>">
                                <button class="btn btn-danger" type="submit">Delete Account</button>
                            </div>
                        </div>
                    </form>
                    </div>
          
            
        </form>
       </div>
      </div>
    </div>
  </div>
  </div>
 

      </div>
      <!-- /.container-fluid -->
   
    <% include ./partials/footer %>
    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  

    <% include ./partials/scripts %>

  <!-- Custom scripts for all pages-->
  <!-- <script src="../public/js/image.js"></script>-->

</body>

</html>

 
 
 
 
 
 
 